{% load static %}
{% load i18n %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% block dashboard_header %}{% include 'components/dashboard_header.html' %}{% endblock %}
<div class="main-wrapper mt-5">
    <div class="page-content mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
                    <div class="card testimonial-card mt-2 mb-3">
                        <div class="card-up aqua-gradient"></div>
                        <div class="avatar mx-auto white">
                            <img src="{% static 'dashboard/assets/img/user-img.png' %}"
                                 class="rounded-circle img-fluid"
                                 alt="user">
                        </div>
                        <div class="card-body text-center">
                            <h4><a>{{ request.user.first_name }} {{ request.user.last_name }}</a></h4>
                            <p>{{ request.user.phone }}</p>
                            <hr>
                            <h5>{% translate 'CONTROL PANEL' %}</h5>
                            <ul class="list-group list-group-light">
                                <li class="list-group-item px-3 border-0" aria-current="true">
                                    <a href="{% url 'dashboard' %}"
                                       class="nav-link" style="color: #65CCB8;">
                                        <i class="fas fa-shopping-cart"></i> {% translate 'Payments' %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="settings-widget">
                                <div class="settings-inner-blk p-0">
                                    <div class="sell-course-head comman-space">
                                        <h3>{% translate 'Payments' %}</h3>
                                        <p>{% translate 'Paid Tours' %}</p>
                                    </div>
                                    <div class="comman-space pb-0">
                                        <div class="settings-tickets-blk course-instruct-blk table-responsive">

                                            {% if mytours %}
                                            <table class="table table-nowrap mb-0">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>{% translate 'Tour' %}</th>
                                                    <th>{% translate 'Amount' %}</th>
                                                    <th>{% translate 'Time' %}</th>
                                                    <th>{% translate 'Date' %}</th>
                                                    <th>{% translate 'Status' %}</th>
                                                    <th>{% translate 'Action' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in mytours %}
                                                <tr>
                                                    <td>{{ rs.id }}</td>
                                                    <td class="instruct-orders-info">
                                                        {% if LANGUAGE_CODE == 'en' %}
                                                        <p><a href="{% url 'mytour-detail' rs.id %}">{{ rs.title_en }}</a></p>
                                                        {% elif LANGUAGE_CODE == 'ru'%}
                                                        <p><a href="{% url 'mytour-detail' rs.id %}">{{ rs.title_ru }}</a></p>
                                                        {% elif LANGUAGE_CODE == 'uz' %}
                                                        <p><a href="{% url 'mytour-detail' rs.id %}">{{ rs.title_uz }}</a></p>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ rs.value|floatformat:0|intcomma }} UZS</td>
                                                    <td>{{ rs.payment_time }}</td>
                                                    <td>{{ rs.payment_date }}</td>
                                                    <td><span class="badge info-low">{% translate 'Paid' %}</span>
                                                    </td>
                                                    <td><a href="{% url 'invoice' rs.id %}"><i
                                                            class="fa fa-eye"></i> {% translate 'View' %}</a></td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {% else %}
                                            <h3 style="text-align: center;">{% translate "There are no fees!" %}</h3>
                                            <br>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
<button
        type="button"
        class="btn btn-info btn-floating btn-lg mb-5"
        id="btn-back-to-top">
    <i class="p-0 fas fa-arrow-up"></i>
</button>
{% include 'components/_footer.html' %}