{% extends 'base.html' %}
{% load static i18n%}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "FAQ"%}{% endblock title %}

{% block content %}

<div class="row-fluid mb-5">
    <div class="bg-image"
         style="background-image: url({% static 'home/img-core/bg-images/faq.webp' %});
                height: 500px; top: 1;">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0 h1">{% translate 'FAQ' %}</p>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row text-center mt-2 mb-5">
        <div class="col-12 mb-5">
            <h1>{% translate 'Frequently asked questions' %}</h1>
        </div>
        <div class="col-12 mt-3">
            {% for q_and_a in questions_and_answers %}
            {% if LANGUAGE_CODE == 'en' %}
            <h4>{{ q_and_a.question_en }}</h4>
            <p>{{ q_and_a.answer_en }}</p>
            <p>&nbsp;</p>
            {% elif LANGUAGE_CODE == 'uz' %}
            <h4>{{ q_and_a.question_uz }}</h4>
            <p>{{ q_and_a.answer_uz }}</p>
            <p>&nbsp;</p>
            {% elif LANGUAGE_CODE == 'ru' %}
            <h4>{{ q_and_a.question_ru }}</h4>
            <p>{{ q_and_a.answer_ru }}</p>
            <p>&nbsp;</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="text-center col-12">
            <p>{% translate "Didn't find your answer in the FAQ?" %}<a href="{% url 'contact' %}"
                                                                       style="color: #3F8FFF;">
                {% translate 'Contact our support team' %}</a>.</p>
        </div>
    </div>
</div>
{% endblock content %}