body a {
    text-decoration: none;
    color: #333;
    transition: 0.2s linear;
}
body a:hover {
    color: #3F8FFF;
}
.top_header{
    position: relative;
    height: 50px;

}
i{
    padding: 0px 5px 0px 5px;
}
.nav-item{
    padding-left: 20px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.line{
    left: 50%;
    margin-left: -50px;
    margin-bottom: 50px;
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #333;
    box-sizing: border-box;
    text-align: center;
}
.line::before{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    left: 50%;
    right: auto;
    margin-left: -5px;
    background-color: #65CCB8;
}
.navbar-nav a{
    margin: 0px 0px 0px 35px;
}
.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quick-link{
    color: #fff
}
.quick-link:hover{
    color: #3F8FFF;
    }
.quick-links li a{
    color: #fff
}
.quick-links li a:hover{
    color: #3F8FFF;
}
.opening-hours{

    width: 70%;
    margin: 0, 0, 0, 15%;
    padding: 0;

}

.opening-hours__child{
    display: flex;
    justify-content: space-between;

}
@media (min-width: 767px){
    .card_img{
        position: relative;
    }

    .card_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.img_news img {
    max-width: 100%;
    margin: 50px auto;
}
.contact-information{
    background-color: #1B3D6D;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 80px 30px;
}

.video_news {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.container #video {
    border-radius: 10px;
}

.video_news .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
    background: #4343;
}

.video_news:hover .controls {
    opacity: 1;
}

.video_news .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}

.video_news .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}

.video_news .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}

.video_news .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}

.order {
	word-spacing: 3px;
	letter-spacing: 2px;
}
#order {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #fff;
	position: relative;
	transition: 0.5s;
	overflow: hidden;
	z-index: +1;
}
#order::before,
#order::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background: #66b504;
	opacity: 0.5;
	transition: 0.3s;
	z-index: -1;
}
#order::after {
	opacity: 1;
	transition-delay: 0.2s;
}
#order:hover::before,
#order:hover::after {
	left: 0;
}

