<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Culttravels</title>
    <meta property="og:title"
          content='{% spaceless %}{% block og_title %}Culttravels{% endblock og_title %}{% endspaceless %}'/>
    <meta property="og:description"
          content='{% spaceless %}{% block description %}Culttravels{% endblock description %}{% endspaceless %}'/>
    <meta property="og:image"
          content="http://{% spaceless %}{% block image %}www.culttravels.com{% static '/home/img-core/logo/logo-1.png' %}{% endblock image %}{% endspaceless %}">
    <meta property="og:type" content="website"/>
    <!-- Favicon -->
    <link rel="icon" href="{% static '/home/img-core/logo/logo-icon.ico' %}">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static '/home/css/style.css' %}">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link rel="stylesheet" href="{% static '/home/css/mdb.min.css' %}">

</head>
<body>
<!-- Navbar-->
<div class="container sticky-top mb-5 ">
    <nav class="navbar navbar-expand-lg navbar-light rounded-5" style="background-color: #65CCB8;">
        <div class="container-fluid justify-content-between">
            <!-- Left elements -->
            <div class="d-flex">
                <!-- Brand -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'home/img-core/logo/logo_transparent.png' %}" alt="Culttravels" height="40"></a>
            </div>
            <!-- Left elements -->

            <!-- Center elements -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="quick-link" href="{% url 'tours' %}">{% translate "Tours" %}</a>
                        <a class="quick-link" href="{% url 'home' %}">{% translate "About us" %}</a>
                        <a class="quick-link" href="{% url 'contact' %}">{% translate "Contacts" %}</a>
                        <a class="quick-link" href="{% url 'faq' %}">{% translate "FAQ" %}</a>
                    </div>
                    <div class="text-center col-sm-3 col-md-2 col-lg-2 col-3">
                        <form id="lang_changer" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <select class="form-control form-control-sm text-center" name="language" id="language"
                                    onchange="this.form.submit();" required>
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}"
                                            {% if lang.0 == LANGUAGE_CODE %}
                                            selected
                                            {% endif %}>
                                        {{ lang.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                      <a href="javascript:;" class="dropdown-toggle text-white" type="button" id="dropdownMenu2" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i style="color: white;" class="fa fa-user"></i>{{ user.first_name }}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="{% url 'dashboard' %}" class="dropdown-item text-capitalize" type="button">{% translate 'My Profile' %}</a></li>
                        <li><a href="/logout-user/" class="dropdown-item text-capitalize" type="button">{% translate 'Logout' %}</a></li>
                      </ul>
                </div>
                {% else %}
                <a style="color: white;" href="{% url 'login' %}"><i style="color: white;" class="fa fa-user"></i> {% translate 'Login' %}</a>
                    {% endif %}
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
        </div>
    </nav>
</div>
<!--<script src="{% static '/home/js/bootstrap.bundle.min.js' %}"></script>-->
<script src="{% static '/home/js/mdb.min.js' %}"></script>
<script src="{% static '/home/js/button_top.js' %}"></script>


</body>
</html>